.practice-back {
  background-image: url(../../../assets/aboutBack.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;  
  height: 70vh;
}
.practice-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.onePractice-btn {
  background-color: rgba(224, 206, 206, 0.884);
  padding: 5px 10px;
  font-weight: 500;
  color: rgb(97, 90, 90);
  border-radius: 4px;
}
.practice h1:hover {
  color: #e23e4e;
  cursor:pointer ;
  transition: 1s;
}

.onePractice-btn:hover{
 background-color:#E0A965 ;
 color: white;
 transition: 1s;
}