.attorney-back{
 background-image: url(../../../assets/lawBook.jpg);
  background-repeat: no-repeat;
  background-position:right ;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed;  
}
.Attorney-content{
 display: flex;
 justify-content: center;
 align-items: center;
}
.attorneyshadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}