.casesolved-skild{
 border-left: 5px solid  #000053;
}

.employw-card{
  padding: 30px 25px;
  border-radius: 20px;
  border: 2px solid #666666;
  box-sizing: border-box;
  box-shadow: 0.2px 0.5px a;
  background-color: #ffffffd7;
}
.employw-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #000053;
    color: white;
    outline: none;
    border: 2px solid  #000053;
    transition: 1s;
}